<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/Mybatis01_hello_world/lib/log4j.jar!/" />
      <root url="jar://$PROJECT_DIR$/Mybatis01_hello_world/lib/mybatis-3.4.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/Mybatis01_hello_world/lib/mysql-connector-java-5.1.37-bin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/Mybatis01_hello_world/lib/mybatis-3-mybatis-3.4.1.zip!/mybatis-3-mybatis-3.4.1/src/main/java" />
      <root url="jar://$PROJECT_DIR$/Mybatis01_hello_world/lib/mybatis-3-mybatis-3.4.1.zip!/mybatis-3-mybatis-3.4.1/src/test/java" />
    </SOURCES>
  </library>
</component>