<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>主页</h1>

<a th:href="@{/testRequestByServletAPI}">通过servletAPI向request域对象共享数据</a> <br>
<a th:href="@{/testModelAndView}">测试ModelAndView向request域对象共享数据</a><br>
<a th:href="@{/testModel}">测试Model向request域对象共享数据</a> <br>
<a th:href="@{/testMap}">测试Map集合向request域对象共享数据</a><br>
<a th:href="@{/testModelMap}">测试ModelMap向request域对象共享数据</a><br>

测试View视图
<a th:href="@{/test_view}">跳转到test_view页面</a><br>

</body>
</html>