<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxing.dao.DepartmentMapper">

<!--    public Department getDeptById(Integer id);-->
    <select id="getDeptById" resultType="com.lianxing.bean.Department">
        select id,dept_name departmentName from tbl_dept where id=#{id}
    </select>






    <resultMap id="MyDept" type="com.lianxing.bean.Department">
        <id column="did" property= "id"></id>
        <result column="departmentName" property="departmentName"></result>
        <collection property="employees" ofType="com.lianxing.bean.Employee">
            <id column="id" property="id"></id>
            <result column="last_name" property="lastName"></result>
            <result column="email" property="email"></result>
            <result column="gender" property="gender"></result>
        </collection>

    </resultMap>


<!--    public  Department  getDeptByIdPlus(Integer id);-->
    <select id="getDeptByIdPlus" resultMap="MyDept">
        SELECT e.id id,d.id did,e.last_name last_name,
               e.gender gender,e.email email,d.dept_name departmentName
        FROM tbl_employee e
        LEFT JOIN tbl_dept d ON e.d_id = d.id
        WHERE d.id=#{id}
    </select>




    <resultMap id="MyDeptStep" type="com.lianxing.bean.Department">
        <id column="id" property= "id"></id>
        <result column="dept_name" property="departmentName"></result>
        <collection property="employees"
                    select="com.lianxing.dao.EmployeeMapperPlus.getEmpsByDept"
                    column="id">
        </collection>

    </resultMap>

<!--    public  Department  getDeptByIdPlusStep(Integer id);-->
    <select id="getDeptByIdPlusStep" resultMap="MyDeptStep">
        select id,dept_name from tbl_dept where id=#{id}
    </select>

</mapper>