<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/test/success}">success</a>
<a th:href="@{/test/win}">win</a>
<a th:href="@{/test/testGetMapping}">测试getMapping注解</a>
<form th:action="@{/test/win}">
    <input type="submit" value="测试method属性-->POST">
</form>

<form th:action="@{/test/testPut}" method="">
    <input type="submit" value="测试表单能否发送put请求-->PUT?">
</form>

<a th:href="@{/test/testParamsAndHeaders(username='admin',password=1234565)}">测试params属性</a>
<a th:href="@{/test/testParamsAndHeaders(username='admin',password=1234565)}">测试params属性 Host=localhost:8081</a>
<a th:href="@{/test/te/testAnt}">测试ant风格路径</a>
<a th:href="@{/test/testPath/lianxing}">测试Path路径</a>

<a th:href="@{/param}">转到测试参数页面</a>
</body>
</html>