@CHARSET "UTF-8";

body{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


.outer{
    width:400px;
    height: auto;
    border: black;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 5px;
    margin-top: 10px;
    float: left;
}


.listStyle{
    float: left;

}

li{
    border-style: solid;
    float: left;
    margin-right: 20px;
    background: greenyellow;
    border-width: 1px;
}

ul{
    font-size: large;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#buttons{

    
}

button {
    width: 300px;
    margin-bottom: 10px;
    margin-left: 5px;
}


